[["ks" ["js" "clj"] "London"]
 ["ns" ["js" "clj"] "London"]
 ["dh" ["js" "clj"] "London"]
 ["pg" ["js" "clj"] "Sydney"]
 ["ra" ["js" "clj"] "Boston"]
 ["di" ["js" "clj"] "St.Albans"]
 ["dg" ["js" "clj"] "Warsaw"]
 ["ms" ["js" "clj"] "Bratislava"]]